PORT=8002
APP_URL=http://localhost:8002
APP_SECRET=dev-only-insecure-secret

DB_HOST=localhost
DB_PORT=3307
DB_USER=root
DB_PASSWORD=root
DB_NAME=wallet

WEBAUTHN_ORIGIN=http://localhost:3000
WEBAUTHN_RP_ID=localhost
WEBAUTHN_RP_NAME=wwWallet Demo

OHTTP_GATEWAY_URL=http://localhost:4567

METADATA_FIDO_URL=https://c-mds.fidoalliance.org
METADATA_COMMUNITY_AAGUID_URL=https://raw.githubusercontent.com/passkeydeveloper/passkey-authenticator-aaguids/main/aaguid.json
METADATA_REFRESH_INTERVAL_MS=604800000
